<form class="col s12" [formGroup]="form">
  <div class="row">
    <div class="input-field col s6">
      <input id="siding" formControlName="siding" type="number" class="validate" required>
      <label for="siding">Siding SF</label>
    </div>
    <div class="input-field col s6">
      <input id="soffit" formControlName="soffit" type="number" class="validate" required>
      <label for="soffit">Soffit SF</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="fascia" formControlName="fascia" type="number" class="validate" required>
      <label for="fascia">Fascia LFT</label>
    </div>
    <div class="input-field col s6">
      <input id="glazing" formControlName="glazing" type="number" class="validate" required>
      <label for="glazing">Glazing LFT</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="foundation" formControlName="foundation" type="number" class="validate" required>
      <label for="foundation">Foundation SF</label>
    </div>
    <div class="input-field col s6">
      <input id="scraping" formControlName="scraping" type="number" class="validate" required>
      <label for="scraping">Scraping SF</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="windows" formControlName="windows" type="number" class="validate" required>
      <label for="windows">Windows (inside)</label>
    </div>
    <div class="input-field col s6">
      <input id="window-frames" formControlName="windowFrames" type="number" class="validate" required>
      <label for="window-frames">Window Frames</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="doors" formControlName="doors" type="number" class="validate" required>
      <label for="doors">Doors</label>
    </div>
    <div class="input-field col s6">
      <input id="door-frames" formControlName="doorFrames" type="number" class="validate" required>
      <label for="door-frames">Door Frames</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="obstructions" formControlName="obstructions" type="number" class="validate" required>
      <label for="obstructions">Obstructions</label>
    </div>
    <div class="input-field col s6">
      <input id="pillars" formControlName="pillars" type="number" class="validate" required>
      <label for="pillars">Pillars</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="pressure" formControlName="pressure" type="number" class="validate" required>
      <label for="pressure">Pressure Wash HRS</label>
    </div>
    <div class="input-field col s6">
      <input id="vegetation" formControlName="vegetation" type="number" class="validate" required>
      <label for="vegetation">Vegetation HRS</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="additional-hrs" formControlName="additionalHrs" type="number" class="validate" required>
      <label for="additional-hrs">Additional HRS</label>
    </div>
    <div class="input-field col s6">
      <input id="additional-flat" formControlName="additionalFlat" type="number" class="validate" required>
      <label for="additional-flat">Additional Flat</label>
    </div>
  </div>

  <button type="button" class="waves-effect waves-light btn" (click)="calculateBid()">CALCULATE BID</button>

</form>
