<h4>Sign In</h4>
<form class="col s12" [formGroup]="form">
  <div class="row">
    <div class="input-field col s12">
      <input id="email" formControlName="email" type="email" class="validate" required>
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password" formControlName="password" type="password" class="validate" required>
      <label for="password">Password</label>
    </div>
  </div>

  <button type="button" class="waves-effect waves-light btn" (click)="login()">Sign In</button>
</form>
