h1 {
  font-size: 40px;
  margin:20px auto 0;
  text-align: center;
  transition: 500ms ease;
}

h1:hover {
  cursor: pointer;
  text-shadow: 4px 5px 0px lightgrey;

}

.header {
  margin-bottom: 0;
}

.content {
}
