<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal">
      <a (click)="logoClick()" class="brand-logo left">Klabby Pro</a>
      <ul class="right">
        <li><a routerLink="/rates">Rates</a></li>
        <li><a routerLink="/new">New Bid</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row content">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="this.user">
  <p>user</p>
</div>
<div *ngIf="!this.user">
  <p>no user</p>
</div>
