
<div class="container">
  <div class="row">
    <h1 class="center">KlabbyPro</h1>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="siding" type="number" class="validate">
          <label for="siding">Siding SF</label>
        </div>
        <div class="input-field col s6">
          <input id="soffit" type="number" class="validate">
          <label for="soffit">Soffit SF</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="fascia" type="number" class="validate">
          <label for="fascia">Fascia LFT</label>
        </div>
        <div class="input-field col s6">
          <input id="glazing" type="number" class="validate">
          <label for="glazing">Glazing LFT</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="foundation" type="number" class="validate">
          <label for="foundation">Foundation SF</label>
        </div>
        <div class="input-field col s6">
          <input id="scraping" type="number" class="validate">
          <label for="scraping">Scraping SF</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="windows" type="number" class="validate">
          <label for="windows">Windows (inside)</label>
        </div>
        <div class="input-field col s6">
          <input id="window-frames" type="number" class="validate">
          <label for="window-frames">Window Frames</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="doors" type="number" class="validate">
          <label for="doors">Doors</label>
        </div>
        <div class="input-field col s6">
          <input id="door-frames" type="number" class="validate">
          <label for="door-frames">Door Frames</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="obstructions" type="number" class="validate">
          <label for="obstructions">Obstructions</label>
        </div>
        <div class="input-field col s6">
          <input id="pillars" type="number" class="validate">
          <label for="pillars">Pillars</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="pressure" type="number" class="validate">
          <label for="pressure">Pressure Wash HRS</label>
        </div>
        <div class="input-field col s6">
          <input id="vegetation" type="number" class="validate">
          <label for="vegetation">Vegetation HRS</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="additional-hrs" type="number" class="validate">
          <label for="additional-hrs">Additional HRS</label>
        </div>
        <div class="input-field col s6">
          <input id="additional-flat" type="number" class="validate">
          <label for="additional-flat">Additional Flat</label>
        </div>
      </div>

      <button type="button" class="waves-effect waves-light btn">CALCULATE BID</button>

    </form>
  </div>
</div>
