
<div class="container">
  <div class="row">
    <h1 class="center">KlabbyPro</h1>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="siding" type="number" class="validate">
          <label for="siding">Siding SF</label>
        </div>
        <div class="input-field col s6">
          <input id="soffit" type="number" class="validate">
          <label for="soffit">Soffit SF</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="fascia" type="number" class="validate">
          <label for="fascia">Fascia LFT</label>
        </div>
        <div class="input-field col s6">
          <input id="glazing" type="number" class="validate">
          <label for="glazing">Glazing LFT</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="foundation" type="number" class="validate">
          <label for="foundation">Foundation SF</label>
        </div>
        <div class="input-field col s6">
          <input id="scraping" type="number" class="validate">
          <label for="scraping">Scraping SF</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="windows" type="number" class="validate">
          <label for="windows">Windows (inside)</label>
        </div>
        <div class="input-field col s6">
          <input id="window-frames" type="number" class="validate">
          <label for="window-frames">Window Frames</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="doors" type="number" class="validate">
          <label for="doors">Doors</label>
        </div>
        <div class="input-field col s6">
          <input id="door-frames" type="number" class="validate">
          <label for="door-frames">Door Frames</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="obstructions" type="number" class="validate">
          <label for="obstructions">Obstructions</label>
        </div>
        <div class="input-field col s6">
          <input id="pillars" type="number" class="validate">
          <label for="pillars">Pillars</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="pressure" type="number" class="validate">
          <label for="pressure">Pressure Wash HRS</label>
        </div>
        <div class="input-field col s6">
          <input id="vegetation" type="number" class="validate">
          <label for="vegetation">Vegetation HRS</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="additional-hrs" type="number" class="validate">
          <label for="additional-hrs">Additional HRS</label>
        </div>
        <div class="input-field col s6">
          <input id="additional-flat" type="number" class="validate">
          <label for="additional-flat">Additional Flat</label>
        </div>
      </div>

      <button type="button" class="waves-effect waves-light btn">CALCULATE BID</button>

    </form>
  </div>
</div>

<!-- <div class="row">
  <div class="large-12 cell">
    <h1 class="text-center">{{title}}</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 cell">
    <div class="callout">

      <div class="row">
        <div class="small-6 cell">
          <label for="siding" class="middle">Siding SF</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="siding">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="soffit" class="middle">Soffit SF</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="soffit">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="fascia" class="middle">Fascia LFT</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="fascia">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="glazing" class="middle">Glazing LNF</label>
        </div>Siding
        <div class="small-6 cell">
          <input type="number" id="glazing">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="foundation" class="middle">Foundation SF</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="foundation">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="scraping" class="middle">Scraping SF</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="scraping">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="windows" class="middle">Windows (inside)</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="windows">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="window-frames" class="middle">Windows Frames</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="window-frames">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="doors" class="middle">Doors</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="doors">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="door-frames" class="middle">Door Frames</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="door-frames">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="obstructions" class="middle">Obstructions</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="obstructions">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="pillars" class="middle">Pillars</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="pillars">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="pressure" class="middle">Pressure Wash HRS</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="pressure">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="vegetation" class="middle">Vegetation HRS</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="vegetation">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="additional-hrs" class="middle">Additional HRS</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="additional-hrs">
        </div>
      </div>

      <div class="row">
        <div class="small-6 cell">
          <label for="additional-flat" class="middle">Additional Flat</label>
        </div>
        <div class="small-6 cell">
          <input type="number" id="additional-flat">
        </div>
      </div>

      <button type="button" class="button large expanded warning">CALCULATE BID</button>

    </div>
  </div>
</div> -->
